# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. (optional) Afisati primele 5 linii din tabel
    1. (optional) Care este numarul de inregistrari din DataFrame?
    1. (optional) Comparati iesirea metodelor `info()` si `describe()`.
    1. (optional) Care e numarul de coloane? afisati numele lor.
    1. (0.5 puncte) Cum e indexat setul de date? sunt valorile din index unice?
    1. (0.5 puncte) Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. (0.5 puncte) Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. (0.5 puncte) Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. (0.5 puncte) Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) e utila pentru intelegerea agregarilor.
    1. (0.5 puncte) De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. (0.5 puncte) De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. (0.5 puncte) Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. (optional) Cate echipe au participat la Euro 2012?
    1. (optional) Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. (0.5 puncte) Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. (0.5 puncte) Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. (obligatoriu, 0 puncte) Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. (0.5 puncte) Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. (0.5 puncte) Pe care continent se bea mai multa bere, in medie?
    1. (0.5 puncte) Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. (0.5 puncte) Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Se acorda 3 puncte din oficiu.
* Predarea se va face in saptamana 25-29 martie 2019.
* Temele se pot lucra in echipa se se depun in acest caz in repository-urile github create pentru prima tema.
* Punctajul problemelor va fi precizat in decursul acestei saptamanini, urmariti documentul.

## Ex 1
### E.

In [1]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
url_data = pd.read_table(url,sep='\t')
url_data.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

#### Setul de date este indexat incepand de la valoarea 0 , iar aceste valori sunt unice

### F.

In [11]:
print("Marfuri vandute")
print(url_data.sort_values('item_name'))
print(url_data.count())

Marfuri vandute
      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
3422      1373         1  6 Pack Soft Drink
553        230         1  6 Pack Soft Drink
1916       774         1  6 Pack Soft Drink
1922       776         1  6 Pack Soft Drink
1937       784         1  6 Pack Soft Drink
3836      1537         1  6 Pack Soft Drink
298        129         1  6 Pack Soft Drink
1976       798         1  6 Pack Soft Drink
1167       481         1  6 Pack Soft Drink
3875      1554         1  6 Pack Soft Drink
1124       465         1  6 Pack Soft Drink
3886      1558         1  6 Pack Soft Drink
2108       849         1  6 Pack Soft Drink
3010      1196         1  6 Pack Soft Drink
4535      1803         1  6 Pack Soft Drink
4169      1664         1  6 Pack Soft Drink
4174      1666         1  6 Pack Soft Drink
4527      1800         1  6 Pack Soft Drink
4522      1798         1  6 Pack Soft Drink
3806      1525         1  6 Pack Soft Drink
2389       949         1  6 Pack Soft Drink
3132      1248         1  6 Pack Soft Drink
3141      1253         1  6 Pack Soft Drink
639        264         1  6 Pack Soft Drink
1026       422         1  6 Pack Soft Drink
...        ...       ...                ...
2996      1192         1       Veggie Salad
3163      1263         1       Veggie Salad
4084      1635         1       Veggie Salad
1694       686         1       Veggie Salad
2756      1094         1       Veggie Salad
4201      1677         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
2269       913         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
186         83         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
4573      1818         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
738        304         1  Veggie Soft Tacos
3889      1559         2  Veggie Soft Tacos
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description item_price
3389                                        [Diet Coke]    $12.98
341                                         [Diet Coke]     $6.49
1849                                             [Coke]     $6.49
1860                                        [Diet Coke]     $6.49
2713                                             [Coke]     $6.49
3422                                             [Coke]     $6.49
553                                         [Diet Coke]     $6.49
1916                                        [Diet Coke]     $6.49
1922                                             [Coke]     $6.49
1937                                        [Diet Coke]     $6.49
3836                                             [Coke]     $6.49
298                                            [Sprite]     $6.49
1976                                        [Diet Coke]     $6.49
1167                                             [Coke]     $6.49
3875                                        [Diet Coke]     $6.49
1124                                             [Coke]     $6.49
3886                                        [Diet Coke]     $6.49
2108                                             [Coke]     $6.49
3010                                        [Diet Coke]     $6.49
4535                                         [Lemonade]     $6.49
4169                                        [Diet Coke]     $6.49
4174                                             [Coke]     $6.49
4527                                        [Diet Coke]     $6.49
4522                                        [Diet Coke]     $6.49
3806                                           [Sprite]     $6.49
2389                                             [Coke]     $6.49
3132                                        [Diet Coke]     $6.49
3141                                         [Lemonade]     $6.49
639                                         [Diet Coke]     $6.49
1026                                           [Sprite]     $6.49
...                                                 ...        ...
2996  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
3163  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
4084  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
1694  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
2756  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
4201  [Fresh Tomato Salsa, [Fajita Vegetables, Black...    $11.25
1884  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
455   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
3223  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
2223      [Roasted Chili Corn Salsa, Fajita Vegetables]     $8.75
2269  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
4541  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75
3293  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
960   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
1316  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
2156  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4261  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
295   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...    $11.25
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
2683  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
496   [Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...    $11.25
4109  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...    $16.98
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49

[4622 rows x 5 columns]
order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

### G.

In [12]:
print("In numar de :",url_data['quantity'].sum(axis=0))

In numar de : 4972

### H.